footer {
    background-color: white;
    padding: 100px 162px 30px 162px;
    gap: 50px;
    margin-top: 142px;
}
.footer-content{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    gap: 20px;
}
.footer-right > img{
    margin-bottom: 40px;
}
.footer-right--item {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}
.footer-right--item > p > a{
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}
.footer-right--item > p > a:hover{
    text-decoration: underline;
}
.footer-right > div > div:last-child {
    margin-bottom: 0;
}
.footer-left{
    display: flex;
    gap: 30px;
    /*flex: 1;*/
}
.footer-left--item{
    width: 249px;
    /*flex: 1;*/
}
.footer-left--item > p{
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 14px;
    color: #262626;
    /*text-decoration: none;*/
}
.footer-left--item > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-bottom: 20px;*/
}
.footer-left--item > div > p > a{
    color: #262626;
    font-size: 18px;
    text-decoration: none;
}
.footer-left--item > div > p > a:hover{
    text-decoration: underline;
}
/*.footer-left--item > div:last-child{*/
/*    flex-direction: row;*/
/*}*/
/*.footer-right > div > div:last-child {*/
/*    margin-bottom: 0;*/
/*}*/
.logo-item{
    display: flex;
    flex-direction: row !important;
    gap: 14px;
}
.footer-left > div:first-child{
    display: flex;
    gap: 30px;

}
.footer-left div:last-child  > div > a{
    width: 52px;
    height: 52px;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    padding: 14px;
    line-height: 150%;
    background-color: #F7F7F8;
}
.logo-fb{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.logo-tele{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/tele.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.logo-in{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/in.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    border-top: 1px solid #F1F1F3;
    margin-top: 50px;
    color: #656567;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
