@media screen and (max-width: 390px) {
    .container{
        max-width: 358px;
        margin: auto;
    }
    #header-top{
        max-width: 358px;
        margin: auto;
        padding: 10px 16px;
        border-radius: 6px;
    }
    #header-top a{
        font-size: 14px;
    }
    #header-top img{
        width: 20px;
        height: 20px;
        margin-left: 0;
    }
    .header-fixed nav{
        display: none;
    }
    #header-bottom{
        width: 358px;
        margin: 0 16px;
        padding: 14px 0;
    }
    #header--logo{
        height: 40px;
        width: 40px;
        border-radius: 6px;
    }
    .header--action a{
        border-radius: 6px;
        padding: 12px 20px;
        gap: 8px;
        font-size: 14px;
    }
    .header--action label{
        display: block;
    }
    .menu-form{
        max-width: 332px;
        flex-shrink: 1;
        position: fixed;
        border-radius: 50px 0 0 50px;
        background-color: #ffffff;
        gap: 10px;
        top: 0;
        left: 58px;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 999;
    }
    .menu-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        max-width: 305px;
        margin: 16px 8px 25px 19px;
        border-bottom: 1px solid #F1F1F3;
    }
    .menu-heading > div:first-child{
        background-image: url("images/Logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
    }
    .menu-heading > label{
        background-image: url("icons/x-icon-menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 23px;
        height: 23px;
    }
    .menu-item{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .menu-item > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-item > div > a{
        padding: 14px 0 14px 0;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #262626;
        line-height: 150%;
    }
    .menu-item > div:hover{
        background-color: #F2F2F7;
    }
    .modal-overlay{
        position: fixed;
        inset: 0;
        background: rgb(100, 104, 104);
        z-index: 998;
        display: none;
    }
    #menu-toggle:checked + .modal-overlay{
        display: block;
    }
    #menu-toggle:checked ~ .menu-form{
        display: block;
    }
    .banner-title{
        margin: 50px auto 30px auto;
        max-width: 357px;
    }

    .banner-top{
        border-radius: 8px;
        padding: 14px;
        margin: auto;
    }
    .banner-top > div:first-child{
        left: -8px;
        top: -26px;
    }
    .banner-top > img{
        width: 48px;
        height: 48px;
    }
    .banner-top h1{
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
    }
    .banner-description{
        gap: 10px;
        margin: 16px 0 50px 0;
    }
    .banner-description div:first-child{
        /*width: 965px;*/
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        text-align: center;
    }
    .banner-description div:last-child{
        font-weight: 400;
        font-size: 14px;
        margin-top: 6px;
        line-height: 150%;
        text-align: center;
    }
    .banner-action a{
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        padding: 14px 20px;
    }
    .banner-bottom{
        margin: 30px auto 50px auto;
        max-width: 358px;
    }
    .banner-container{
        border-radius: 8px;
        padding: 10px;
    }
    .banner-container .banner-container--item:nth-child(4),
    .banner-container .banner-container--item:nth-child(5),
    .banner-container .banner-container--item:nth-child(6),
    .banner-container .banner-container--item:nth-child(7){
        display: none;
    }
    .banner-container--item{
        max-width: 112px;
        padding: 20px 30px;
    }
    .banner-container--image{
        max-width: 358px;
        width: 100%;
        height: 247px;
        margin: 30px auto 0 auto;
    }
    .banner-container--item img{
        height: 24px;
    }
    .banner-container .banner-container--item:nth-child(3) img{
        height: 11px;
    }
    .banner-container--image > button{
        width: 21px;
        height: 25px;
    }
    .circle-pause{
        width: 54px;
        height: 54px;
        padding: 10px;
        right: 6px;
        border: 4px solid #FFFFFF4D;
    }
    .title{
        max-width: 358px;
        margin: 50px auto 40px auto;
    }
    .title h2 {
        font-size: 28px;
    }
    .title-des > div p {
        font-size: 14px;
        line-height: 150%;
    }
    .title-des{
        display: flex;
        margin-top: 4px;
        flex-direction: column;
        gap: 20px;
    }
    .benefit{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px auto 0 auto;
    }
    .benefit-item{
        padding: 30px;
        border-radius: 10px;
    }
    .benefit-number{
        font-size: 50px;
    }
    .benefit-title{
        font-size: 20px;
        margin: 30px 0 10px 0;
    }
    .benefit-description{
        font-size: 14px;
    }
    .benefit-icon{
        margin-top: 30px;
    }
    .benefit-icon a{
        width: 54px;
        height: 54px;
        border-radius: 6px;
        padding: 14px;
    }
    .courses{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin: 20px auto 0 auto;
    }
    .courses-item{
        padding: 24px;
        border-radius: 10px;
    }
    .courses-item img{
        border-radius: 6px;
        height: 172px;
        max-width: 309px;
    }
    .image-description{
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin: 24px 0;
    }
    .image-description div:first-child{
        display: flex;
        justify-content: start;
        gap: 10px
    }
    .image-description > div > div{
        font-size: 14px;
        padding: 8px 14px;
        border-radius: 6px;
    }
    .image-description div div p{
        font-size: 14px;
    }
    .image-description div:last-child{
        font-size: 16px;
        font-weight: 500;
    }
    .courses-description{
        margin: 24px 0;
    }
    .courses-description h3{
        font-size: 18px;
    }
    .courses-description p{
        font-size: 14px;
        margin-top: 10px;
    }
    .courses-item button{
        flex-shrink: 1;
        display: block;
        width: 100%;
        height: 49px;
        border-radius: 6px;
        padding: 14px 24px;
        font-size: 14px;
    }
    .testimonial{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px auto 0 auto;
    }
    .testimonial-item{
        border-radius: 10px;
    }
    .testimonial-top{
        padding: 30px;
        font-size: 14px;
        border-radius: 10px 10px 0 0;
    }
    .testimonial-bottom{
        padding: 20px 30px;
        border-radius: 0 0 10px 10px;
    }
    .testimonial-bottom div{
        gap: 10px;
    }
    .testimonial-item img{
        width: 50px;
        height: 50px;
        border-radius: 6px;
    }
    .testimonial-bottom > div > p{
        font-size: 16px;
    }
    .testimonial-bottom button{
        padding: 14px 16px;
        font-size: 14px;
        border-radius: 6px;
    }
    #pricing .title-button{
        margin: auto;
    }
    #pricing .title .title-button button{
        border-radius: 6px;
        padding: 12px 24px;
        font-size: 14px;
    }
    .title-button button:first-child{
        max-width: 104px;
    }
    .pricing{
        flex-direction: column;
        margin:40px auto 50px auto;
        padding: 20px;
        gap: 30px;
    }
    .pricing-item{
        padding: 30px 20px 20px 20px;
        gap: 30px;
    }
    .available-features{
        border-radius: 10px 10px 0 0;
        padding: 20px;
        gap: 20px;
    }
    .pricing-item button{
        padding: 18px 24px;
        font-size: 14px;
        max-width: 277px;
    }
    .available-features--item{
        border-radius: 6px;
        padding: 12px;
        gap: 8px;
    }
    .available-features--item p{
        font-size: 14px;
    }
    .available-features--item img{
        width: 24px;
        height: 24px;
        border-radius: 4px;
        padding: 4px;
    }
    .pricing-item > div:first-child{
        border-radius: 4px;
        padding: 8px 22px;
        gap: 10px;
    }
    .pricing-item > div:first-child p{
        font-size: 16px;
    }
    .pricing-item > div:nth-child(2){
        margin: 30px 0 30px 0;
    }
    .pricing-item > div:nth-child(2) p{
        font-size: 14px;
    }
    .pricing-item > div:nth-child(2) p strong{
        font-size: 50px;
    }
    .available-features div:first-child{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .faq{
        padding: 24px;
        flex-direction: column;
        gap: 40px;
    }
    .faq > div:first-child{
        max-width: 309px;
        margin-right: 0;
    }
    .faq h2{
        font-size: 28px;
    }
    .faq h2 + p{
        font-size: 14px;
        margin-top: 8px;
    }
    .faq div:first-child > div > button{
        margin-top: 20px;
        border-radius: 6px;
        padding: 14px 20px;
        font-size: 14px;
    }
    .questions{
        gap: 20px;
        max-width: 309px;
    }
    .faq-item {
        border-radius: 10px;
        padding: 20px 24px;
        gap: 20px;
    }
    .faq-label{
        gap: 40px;
    }
    .icon-plus, .icon-close{
        width: 40px;
        height: 40px;
    }
    .faq-label > label > img{
        width: 40px;
        height: 40px;
    }
    .faq-label > p{
        font-size: 16px;
    }
    .inner-text{
        font-size: 14px;
        padding: 20px 0 20px 0;
    }
    .inner-bottom{
        /*gap: 30px;*/
        gap: 0;
        padding: 12px 20px;
        border-radius: 6px;
    }
    .inner-bottom > div > p{
        font-size: 14px;
    }
    .inner-bottom a{
        padding: 10px;
        width: 40px;
        height: 40px;
    }
    footer {
        padding: 50px 20px 24px 20px;
        gap: 20px;
        margin-top: 50px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .footer-right > img{
        margin-bottom: 38px;
        width: 44px;
        height: 44px;
    }
    .footer-right--item {
        gap: 6px;
        margin-bottom: 13px;
    }
    .footer-right--item > img{
        width: 24px;
        height: 24px;
    }
    .footer-right--item > p > a{
        font-size: 15px;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
    }
    .footer-left > div:first-child{
        display: flex;
        gap: 30px;
    }
    .footer-left--item > p{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .footer-left--item > div > p > a{
        font-size: 14px;
    }
    .footer-left div:last-child  > div > a{
        width: 44px;
        height: 44px;
        border-radius: 6px;
        padding: 12px;
    }
    .footer-bottom{
        padding-top: 20px;
        margin-top: 20px;
        font-size: 14px;
    }
}
