.partners {
    display: flex;
    align-items: center;
    max-width: 1595px;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    border:1px solid #F1F1F3;
    background-color: white;
    border-radius: 12px;
}

.partner-zapier {
    background-image: url("./image/zapier.svg");
    width: 68px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;

}
.partner-spotify {
    background-image: url("./image/spotify.svg");
    width: 99px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;
}

.partner-zoom {
    background-image: url("./image/zoom.svg");
    width: 70px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;
}

.partner-amazon {
    background-image: url("./image/amazon.svg");
    width: 78px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;
}

.partner-adobe {
    background-image: url("./image/adobe.svg");
    width: 94px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;
}

.partner-notion {
    background-image: url("./image/notion.svg");
    width: 91px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;
}

.partner-netflix {
    background-image: url("./image/nef.svg");
    width: 78px;
    height: 34px;
    background-repeat: no-repeat;
    padding: 30px 75px;
    background-position: center;
}
.video-intro {
    background-image: url("./image/video.svg");
    width: 1596px;
    height: 790px;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 100px;
}
