* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

.header-main {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.header-main img {
    border-radius: 5px;
}

.header-main .header-content{
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap:20px;
    padding: 0 10px;
}

.header-main nav {
    margin-left: auto;
}

.header-main nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-main nav ul li {
    position: relative;
    list-style: none;
}

.header-main nav ul li > a {
    text-decoration: none;
    color: #333;
    padding: 10px 6px;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
}

.header-main nav ul li > span {
    display: inline-block;
    margin: 0 0 0 4px;
    color: #555555;
    font-size: 12px;
    white-space: nowrap;
}

.header-main nav ul li a:hover {
    color: #d62828;
}

.header-main nav > ul > li:hover > a {
    color: #d62828;
    text-decoration: underline;
    text-decoration-color: #d62828;
}

.header-main nav li:hover > ul {
    display: block;
}

.header-main nav li > ul {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background: #ffffff;
    border: 1px solid #dddddd;
    min-width: 160px;
    z-index: 1000;
    padding: 6px 0;
}

.header-main nav li:hover > ul {
    display: block;
}

.header-main nav li > ul > li {
    display: block;
}

.header-main nav li > ul li a {
    display: block;
    padding: 10px 16px;
    white-space: nowrap;
    color: #333333;
}

.header-main nav li > ul li:hover {
    background: #f5f5f5;
}

.header-main nav li > ul li + li {
    border-top: 1px solid #ffffff;
}

.header-main nav li > ul li > ul {
    display: none;
    position: absolute;
    top: 0;           
    left: 100%;       
    background: #ffffff;
    border: 1px solid #dddddd;
    min-width: 180px;
    padding: 6px 0;
    z-index: 1100;
}

.header-main nav li > ul li:hover > ul {
    display: block;
}

.header-main nav li > ul li > ul li a {
    padding: 10px 16px;
    display: block;
    white-space: nowrap;
}

.header-main nav li > ul li > ul li + li {
    border-top: 1px solid #e7e7e7;
}

/*.header-main nav ul ul {*/
/*    box-shadow: 0 2px 6px rgba(0,0,0,0.03);*/
/*}*/

/*.header-main nav a {*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*}*/


/*.header-main nav ul li p {*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*}*/

/*.header-main nav ul li {*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*}*/

/*.header-main nav ul li a {*/
/*    text-decoration: none;*/
/*    color: #333333;*/
/*    padding: 10px 20px;*/
/*    white-space: nowrap;*/
/*}*/


/*.header-main nav li ul {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    white-space: nowrap;*/
/*}*/

/*.header-main nav li ul li {*/
/*    display: block;*/
/*    padding: 5px;*/
/*    background-color: #ffffff;*/
/*    border: 1px solid #dddddd;*/
/*    white-space: nowrap;*/
/*}*/

/*.header-main nav li ul li:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/


