* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
.modal-dialog {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  border: 1px solid #ccc;
  width: 80%;
  margin-inline: auto;
  padding: 15px;
}
.modal-dialog .modal-heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.modal-dialog .modal-heading h2 {
  display: inline-block;
  width: 95%;
}
.modal-overlay {
  position: absolute;
  inset: 0;
  background: #0000007f;
  z-index: 999;
}
