* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.webf8 {
    background: rgba(244, 244, 244, 0.27);
    margin: 2rem;
    border-radius: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0.625rem 3.125rem;
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
    padding-top: 3rem;
}

.heading {
    color: #c084fc;
    font-weight: 700;
    display: block;
}

.heading-title {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 400;
}

.free {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: #a855f7;
    color: #fff;
    border: transparent;
    margin-top: 2rem;
}

.advise{
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: #d17227;
    color: #fff;
    border: transparent;
    margin-top: 2rem;
}

.free:hover {
    background-color: #9333ea;
}

.advise:hover {
    background-color: #9e3600;
}
.avatar {
    border-radius: 10rem;
    border: 0.25rem solid rgba(192, 132, 252, 0.6);
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
}

.avatar2 {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 600;
}

.textcolor {
    color: #a855f7;
}

.turnon {
    font-size: 1.125rem;
    font-weight: 600;
}

input {
    margin-top: 0.5rem;
}

label {
    padding-left: 0.625rem;
    color: #334155;
}

.recommend {
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.heading2 {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #334155;
}

.cmt {
    color: #334155;
    line-height: 2rem;
}

#turnon:checked + label + .recommend {
    background-color: rgba(192, 132, 252, 0.35);
}

#turnon:checked + label + .recommend .heading2, #turnon:checked + label + .recommend .cmt {
    color: #6b21a8;
}

.checkedv {
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.img {
    width: 1.2rem;
}

.spancmt {
    padding-right: 2rem;
    color: #334155;
    font-weight: 400;
    font-size: 1rem;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #faefef;
}

.textend {
    border-top: 0.125rem solid rgba(192, 132, 252, 0.6);
    padding-top: 4rem;
}

.modal-dialog {
    position: absolute;
    top: 22rem;
    left: 10rem;
    right: 10rem;
    z-index: 9999;
    background: #fff;
    border: 1px solid #ccc;
    width: 30rem;
    margin-inline: auto;
    padding: 2rem;
    text-align: center;
}

.modal-dialog .modal-heading {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal-dialog .modal-heading h2 {
    display: inline-block;
    width: 24rem;
}

.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    z-index: 999;
    opacity: 0.5;
    visibility: visible;
}

.modal-dialog{
    position: fixed;
    width: 30rem;
    height: 33rem;
    top: 50%;
    left: 50%;
    margin-top: -16.5rem;
    margin-left: -15rem;
    background: #fff;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;
    z-index: 1000;
    box-shadow: 0 0 0.5rem #000000;
}

.modal-heading{
    overflow: hidden;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}

.modal-heading h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #1e293b;
    float: left;
    width: 20rem;
    margin-right: 0.5rem;
}

.modal-heading h2 span{
    color: #777;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
    float: right;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}

.modal-heading h2 span:hover{
    color: #a855f7;
}

.modal-heading .close-btn{
    font-size: 2rem;
    cursor: pointer;
    color: #777;
    transition: color 0.3s;
    float: right;
    line-height: 1.5rem;
}

.modal-heading .close-btn:hover{
    color: #a855f7;
}

.modal-body{
    text-align: left;
}

.modal-body p{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

.checklist .item{
    overflow: hidden;
    margin-bottom: 0.75rem;
    height: 1.2rem;
}

.checklist .item .img{
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
}

.checklist .item .spancmt{
    font-size: 0.9375rem;
    color: #334155;
    font-weight: 400;
    float: left;
}

.modal-footer{
    text-align: center;
    margin-top: 2rem;
}

.modal-btn{
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ;
    margin: 0 0.5rem;
}

.start-now{
    background-color: #a855f7;
    color: #fff;
    width: 10rem;
}

.start-now:hover{
    background-color: #9333ea;
}

.later{
    background-color: #eee;
    color: #334155;
    width: 7rem;
}

.later:hover{
    background-color: #ccc;
}

.modal-footer .upgrade{
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: #555;
}

.modal-footer .upgrade span{
    color: #a855f7;
    cursor: pointer;
    font-weight: 600;
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background: #0000007f;
    z-index: 999;
}

.modal-dialog, .modal-overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}