* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    position: relative;
}

body {
    background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.sasuke {
    background: rgba(255, 254, 254, 0.27);
    margin: 2rem;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    margin: 0.625rem 3.125rem;
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
    padding-top: 4rem;
}

.heading {
    color: #c084fc;
    font-weight: 700;
}

.heading-title {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.btn {
    text-align: center;
}

.btn-sasuke {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: #a855f7;
    color: #fff;
    border-color: transparent;
    margin-top: 5rem;
}

.btn-sasuke:hover {
    background-color: #9333ea;
}

.avatar-sasuke {
    text-align: center;
}

.avatar {
    border-radius: 10rem;
    border: 0.25rem solid rgba(192, 132, 252, 0.6);
    width: 3rem;
    height: 3rem;
    margin-top: 5rem;
}

.avatar-title {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 600;
}

.highlight-text {
    color: #a855f7;
}

.toggle-input {
    margin-top: 2rem;
    text-align: center;
}

label {
    padding-left: 0.625rem;
    color: #334155;
}

.recommend {
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.heading-recommend {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #334155;
}

.title-recommend {
    color: #334155;
    line-height: 2rem;
}

#toggle-theme:checked + label + .recommend {
    background-color: rgba(192, 132, 252, 0.35);
}

#toggle-theme:checked + label + .recommend .heading-recommend, #toggle-theme:checked + label + .recommend .title-recommend {
    color: #6b21a8;
}

.icon-checked {
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.icon-img {
    width: auto;
    height: 1rem;
}

.icon-span {
    margin-right: 1rem;
    color: #334155;
    font-weight: 400;
    font-size: 1rem;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #faefef;
}

.footer-text {
    border-top: 0.125rem solid rgba(192, 132, 252, 0.6);
    padding-top: 4rem;
}

.btn-support {
    background-color: #f05123;
    margin-left: 2rem;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    color: #fff;
    border-color: transparent;
}

.btn-support:hover {
    background-color: #d8431c;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.btn-modal-start,
.btn-modal-support{
    position: fixed;
    inset: 0;
    display: none;
    z-index: 999;
}

.modal-content-start {
    width: 30rem;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.heading-modal {
    font-size: 1.6rem;
    font-weight: 600;
}

.para-modal {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #334155;
}

.icon-modal {
    text-align: left;
}

.icon-img-modal {
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}

.icon-para-modal {
    margin-bottom: 1rem;
    color: #334155;
}

.btn-start {
    padding: 1rem;
    border-radius: 1rem;
    width: 25rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #a855f7;
    color: #fff;
    border-color: transparent;
    margin-bottom: 1rem;
}

.btn-start:hover {
    background-color: #9333ea;
}

.register-modal {
    margin: 0 1rem;
    color: #a855f7;
    font-weight: 400;

}

.register-modal:hover {
    text-decoration: underline;
}

.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #334155;
}

#toggle-modal-start:checked ~ .btn-modal-start {
    display: block;
}
#toggle-modal-support:checked ~ .btn-modal-support{
    display: block;
}
.btn-modal-support {
    display: none;
}

.modal-content-support {
    width: 35rem;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}

.form-modal {
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group label {
    padding-left: 0;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    list-style: none;
}

.form-group input {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 28rem;
}

.required {
    color: red;
}

.checkbox-modal li {
    position: relative;
    margin-top: 0.5rem;
}

.checkbox-modal input {
    width: 1rem;
    height: 1rem;
}

.form-group-btn {
    text-align: center;
}

.btn-form-support {
    padding: 1rem 0;
    width: 30rem;
    border-radius: 5rem;
    border: none;
    background-color: #f05123;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    margin-top: 2rem;
}
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
    font-size: 12px;
    top: -2rem;
    left: 0;
}
.arrow {
    position: absolute;
    width: 0;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #333 transparent transparent transparent;
    top: 0;
    left: 1rem;
}
.tooltip-container {
    display: none;
}
#name:hover ~ .tooltip-container, #phone:hover ~ .tooltip-container, #email:hover ~ .tooltip-container, #html-css:hover ~ .tooltip-container, #javascript:hover ~ .tooltip-container, #frontend:hover ~ .tooltip-container , #reactjs:hover ~ .tooltip-container, #support:hover ~ .tooltip-container{
    display: block;
}
.question {
    margin-bottom: 1rem;
}
.question:last-child {
    padding-bottom: 5rem;
}
.question-heading {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.question-toggle {
    position: relative;
    width: 40rem;
    margin: auto;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;

}
.question-toggle-heading {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
}

.question-toggle-heading:hover, #toggle-question:checked ~ .question-toggle .question-toggle-heading{
    background-color: rgba(192, 132, 252, 0.15);
}
.question-toggle-content {
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    color: #334155;
    line-height: 1.5rem;
    display: none;
}
.open-question {
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #a855f7;
    cursor: pointer;
}
.close-question {
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #a855f7;
    cursor: pointer;
    display: none;
}
.toggle-question:checked ~ .question-toggle .question-toggle-content{
    display: block;
}
.toggle-question:checked ~ .question-toggle .question-toggle-heading {
    background-color: rgba(192, 132, 252, 0.15);

}

.toggle-question:checked ~ .question-toggle .close-question {
    display: block;
}